@media screen and (max-width: 600px){
    .versao{
        display: none;
            }

    .span{
        display: none;
    }
    .consulta{
        display: none;
    }
    .fa-filter {
    align-items: center;
    margin-right: 5px;
        
      }

       
          
    }
  
  .father {
    display: flex;
    flex-direction: column;
    font-size: 62.5%;
    width: 100%;
  }
  
    
  .header {
    display: flex;
    flex-direction: row;
    background-color: #000d4c;
    justify-content: space-between;
    color: white;
    line-height: 2.8;
    font-size: 1.5em;
  }

  
  .primeiro-icone {
    display: flex;
    margin-left: 20px;
  
  }
  
  .sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    align-items: center;
    border-bottom: 1.3px solid #e7dddd;
  
  }
  
  .col {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
          
  }
  
  .bar {
    display: flex;
    flex-direction: row;
    text-align: center;
    border-color: black;
    width: 13%;
    height: 70px;
    background-color: #00264C;
    align-items: center;
  }
  
  .margin {
    margin-left: 5px;
    margin-right: 5px;
  
  }
  
  .empresa-versao {
    display: flex;
    flex-direction: row;
  }
  
  .versao {
    margin-right: 5px;
    margin-left: 10px;
    font-size: 10px;
    margin-top: 6px;
    opacity: 40%;
    
  }
  
  .omni {
    margin-left: 2%;
  
  }
  
  .search {
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    font-size: 1.2em;
    
  }

  .toggle {
    display: flex;
    width: 15%;
    flex-direction: row;
    border-left: 1.3px solid #e7dddd;
    height: 70px;
    align-items: center;
    position: relative;
    left: 13%;
    font-size: 1.5em;
    
  }
    
  .filtrar {
    flex-direction: row;
    display: flex;
    height: 70px;
    width: 9%;
    align-items: center;
    border-left: 1.3px solid #e7dddd;
    
  }
  
  .consulta {
    margin-left: 10%;
    font-size: 15px;
  
  }
  
  .buscar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 60%;
  }
 

  input {
    color: #303233;
    font-family: 'Source Sans Regular', sans-serif;
    font-size: 2.4em;
    height: 40px;
    width: 200px;
    outline: 0;
    border: 0 none;
    outline: 0;
    font-style: italic;
  
  
  
  }
  input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  input:checked + label {
    background: rgb(45, 202, 250);
  }
  
  input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 20px;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    margin-top: 0%;
  }
  
  .fa-align-justify {
    color: white;
    justify-content: center;
    width: 100%;
    align-items: center;
    
  
  }
  
  .fa-search {
    color: white;
    justify-content: start;
    margin-left: 20px;
    margin-right: 10px;
    color: rgb(45, 202, 250);
    opacity: 0.5;
    align-items: center;
    margin-top: 15%;

  }
  
  button.filtro {
    color: darkgrey;
    font-family: 'Source Sans Regular', sans-serif;
    height: 60%;
    outline: 0;
    border: 0 none;
    outline: 0;
    background-color: white;
    width: 80%;
    position: relative;
    margin: auto;
    height: 80%;
    font-size: 20px;
        
  }
  
  .fa-filter {
    color: rgb(45, 202, 250);
    
    
  }
  
  .fa-angle-down {
    margin-right: 10px;
  }
  

