<div class="father">
    <div class="header">
        <div class="empresa-versao">
            <div class="primeiro-icone"><strong>&nbsp;Panvel</strong></div>
            <div class="versao">v7.0.0-1 - 01/03/2021 - 10:00:00</div>
        </div>
        <div class="omni"><strong> OmniPDV</strong></div>
        <div class="col">
            <div class="margin">
              <i class="fas fa-shopping-bag"></i>
            </div>
           <div class="margin">
             <i class="fas fa-history"></i>
           </div>
           <div class="margin">
             <i class="fas fa-exclamation"></i>
           </div>
          <span class="margin"><strong>&nbsp; &nbsp;Sem Operador</strong> </span>
          <i class="fas fa-angle-down"></i>
        </div>


    </div>
    <div class="sub">
        <div class="search">
            <div class="bar">
                <i class="fas fa-align-justify fa-2x"></i>
            </div>
            <!--Icon menu-->
            <div class="buscar">
                <i class="fas fa-search fa-2x"></i>
                <input type="text"  placeholder="Buscar por item">
            </div>
        </div>
            <div class="toggle">
            <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
            <span class="consulta">Consulta preço</span>
        </div>
      <div class="filtrar">
        <button class="filtro">
            <span class="span"><strong>Filtrar</strong></span>
          <i class="fas fa-filter"></i>
        </button>
      </div>

    </div>
<div class="ultima">
    <div>
        <span> Cesta (1)

        </span>
        <span> Limpar
        </span>
    </div>
                <div class="receita">
        <span>Coletar receita</span>
        <i>icone</i>
    </div>
  <div class="filtrar">
    <button class="filtro">
        <span class="span"><strong>Filtrar</strong></span>
      <i class="fas fa-filter"></i>
    </button>
  </div>

</div>

</div>
