/* You can add global styles to this file, and also import other style files */
body{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
color: #333;
background-color: #fff;
margin:0px 0px 0px 0px;

}